--extra-index-url https://download.pytorch.org/whl/cu121
pyaudio
SpeechRecognition
requests
python-dotenv
opencv-python
pyautogui
Pillow
pyscreeze
kokoro
soundfile
sounddevice
numpy
torch
torchvision
torchaudio
ddgs
faster-whisper
AppOpener
fastapi
uvicorn[standard]
